<div class="container">
    <h1>Welcome to Library Catalog</h1>

    <ul class="nav-list">
        <li>
            <p routerLink="/addBook">Add New Book</p>
        </li>
        <li>
            <p routerLink="/bookList">Book List</p>
        </li>
        <li>
            <p routerLink="/updateBook">Update Book</p>
        </li>

        <button type="button" (click)="clearToken()">LogOut</button>
    </ul>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tenetur nostrum facilis fugiat magni consequuntur
        atque, dignissimos recusandae error commodi aut expedita praesentium dicta illum ullam repellat neque provident
        amet?</p>
</div>