.form-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: rgb(70, 67, 67);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
    color: green;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  